<p id="notice"><%= notice %></p>

<h2>Cards in "<%= @card_set.title %>"</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th><%= @card_set.label_front %></th>
      <th><%= @card_set.label_back %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @card_set.cards.each do |card| %>
      <tr>
        <td><%= card.front %></td>
        <td><%= card.back %></td>
        <td><%= link_to 'Edit', edit_card_set_card_path(@card_set.id, card.id) %></td>
        <td><%= link_to 'Destroy', card_set_card_path(@card_set.id, card.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Card', new_card_set_card_path(@card_set) %> |
<%= link_to 'Edit', edit_card_set_path(@card_set) %> |
<%= link_to 'Back to My Card Sets', card_sets_path %>
